:host {
    display: block;
    height: 100%;
}

ul {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
}

ul::-webkit-scrollbar {
    width: 6px;
}

ul::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 9999px;
}