
<section class="relative py-20 overflow-hidden border-b border-zinc-800">
    <div class="absolute inset-0 bg-[linear-gradient(to_right,#4f46e520_1px,transparent_1px),linear-gradient(to_bottom,#4f46e520_1px,transparent_1px)] bg-size-[4rem_4rem] 
mask-[radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"></div>
    <div class="absolute inset-0 bg-linear-to-br from-indigo-500/10 to-transparent"></div>

    <div class="relative container mx-auto px-4">
        <h1 class="text-5xl font-bold text-zinc-100">
            Benvenuto nel miglior sito di <span class="text-indigo-400">
                Fantacalcio
            </span>
        </h1>
        <p class="p-5 max-w-2xl text-xl text-zinc-400">
            {{'Il primo sito dedicato all\'asta live di Fantacalcio: crea, gestisci e partecipa alle aste in tempo reale in modo semplice e intuitivo.'}}
        </p>
    </div>
</section>

<app-cards></app-cards>


<!-- STEP 6: carousel notizie, sotto le card -->
    <div class="mt-10">
        <app-carousel></app-carousel>
    </div>